<h1> Planes </h1>
		
<% @planes.reverse_each do |g| %>
	<div class='Planes'>
		<h3> <%= g.name %> </h3><br>
		<img src='<%=g.avatar%>'>
		<h6><%= link_to 'Delete', g, method: :delete %></h6>
		<div class='description'>
			<br>
			<p><strong>Location:</strong> <%= g.location %></p>
			<p><strong>Container Carrying Capacity:</strong> <%= g.containers %> Containers</p>
			<br>

		</div>
	</div>
<%end%>
