<h1> Available Jobs </h1>
	 
<% @jobs.reverse_each do |g| %>
	
	<div class='Planes'>
		<h3> <%=g.name %> </h3>
		<img src='<%=g.avatar%>'>
		<div class='description'>
			<p> <strong>Origin:</strong> <%= g.origin %> --> <strong>Destination: </strong><%= g.destination %> </p>
		</div>
		<h3 id='jobDetails'> <%=link_to 'See More Job Details', g %> </h3><br>
	</div>
<%end%>

