<!-- Users Home Page -->
<h3> Users homepage </h3>

<%= link_to "Jobs", jobs_path %> <br>
<%= link_to "Planes", planes_path %><br>
<%= link_to 'Edit User Info', edit_user_registration_path %><br>
<%= link_to 'Register', new_user_registration_path %> <br>
<%= link_to 'Sign Out', destroy_user_session_path %><br>
