<% if user_signed_in? %>
	<div id="usersHome">

	<h1> Welcome </h1> \
<!-- 	<h1><%= current_user.email %> </h1> -->

	<% end %>
	
	<div class="homeContainer">
		<% if user_signed_in? %>
		
			<% @planes.where({user_id: current_user.id}).each do |p| %>
				<% @PlaneJobs.where({plane_id: p.id}).each do |j| %>
					<% @costTotal = @costTotal + @jobs.find(j.job_id).cost %>
				<% end %>
			<% end %>
			<h3>Total Income</h3>
			<p><strong>$<%= @costTotal %></strong></p> 
		<div id='currentJobs'>
			
			<h3>Current Jobs</h3><br>
			<% @planes.where({user_id: current_user.id}).each do |p| %>
				<% @PlaneJobs.where({plane_id: p.id}).each do |j| %>
					<p><strong>| <%= @jobs.find(j.job_id).name %> |</strong></p>

				<% end %>
			<% end %>
		</div>
	</div>
</div>

<% else %>

<div id='homey'>
	<h1> Dream Airways </h1>
	<div id='home'>
	<h4> 'We Deliver Your Dreams' </h4>
	</div>
	<div id='signin'>
		<button><%= link_to "Sign In", new_user_session_path %></button>
		<button><%= link_to "Register here", new_user_registration_path %></button>
	</div>
</div>
<!-- Users Home Page -->
<% end %>
