<!DOCTYPE html>
<html>
  <head>
    <title>Shipped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav id="navBar" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="jobs/index.html.erb" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jobs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Current jobs", jobs_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Create a new job", new_job_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="planes/index.html.erb" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View the Fleight", planes_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Create a new plane", new_plane_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Edit your profile", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Register here", new_user_registration_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    <%= yield %>

<!-- <div class="row">
  <div class="col-md-4">
    <p>
       " Bacon ipsum dolor amet kielbasa ball tip bresaola kevin t-bone sausage flank venison pork belly drumstick. Turducken capicola shoulder flank boudin. Frankfurter boudin beef ham hock venison drumstick picanha. Burgdoggen alcatra leberkas pig. Shank bresaola chicken biltong ground round tail, andouille flank meatball. Porchetta pork loin landjaeger, alcatra fatback pork chop tail pork turducken pastrami tongue leberkas flank turkey swine."
    </p>
  </div>
  <div class="col-md-8">
    <p>
        "Beef ribs jowl pork loin burgdoggen tenderloin. Sausage turkey short ribs leberkas beef ribs. Capicola pork belly shankle drumstick chicken pork chop frankfurter sirloin. Pastrami pork chop porchetta bresaola shank swine ground round short ribs ham ham hock. Bacon fatback jowl spare ribs flank rump doner frankfurter beef pastrami sirloin cupim capicola ball tip corned beef. Drumstick tongue shoulder alcatra tenderloin bresaola landjaeger.""
    </p>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-6">
    <%= image_tag ("german.jpeg"), class: "img-responsive" %>
  </div>
  <div class="col-md-6">
    <p>
        "Beef ribs jowl pork loin burgdoggen tenderloin. Sausage turkey short ribs leberkas beef ribs. Capicola pork belly shankle drumstick chicken pork chop frankfurter sirloin. Pastrami pork chop porchetta bresaola shank swine ground round short ribs ham ham hock. Bacon fatback jowl spare ribs flank rump doner frankfurter beef pastrami sirloin cupim capicola ball tip corned beef. Drumstick tongue shoulder alcatra tenderloin bresaola landjaeger.""
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p>
       " Bacon ipsum dolor amet kielbasa ball tip bresaola kevin t-bone sausage flank venison pork belly drumstick. Turducken capicola shoulder flank boudin. Frankfurter boudin beef ham hock venison drumstick picanha. Burgdoggen alcatra leberkas pig. Shank bresaola chicken biltong ground round tail, andouille flank meatball. Porchetta pork loin landjaeger, alcatra fatback pork chop tail pork turducken pastrami tongue leberkas flank turkey swine."
    </p>
  </div>
  <div class="col-md-3">
  <%= image_tag ("lufthansa.jpeg"), class: "img-responsive" %>
  </div>
</div> -->

  </body>
</html>
